<!-- #################################################################################################################
#MIT License

#Copyright (c) 2019 Arianne Gallardo

#Permission is hereby granted, free of charge, to any person obtaining a copy
#of this software and associated documentation files (the "Software"), to deal
#in the Software without restriction, including without limitation the rights
#to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
#copies of the Software, and to permit persons to whom the Software is
#furnished to do so, subject to the following conditions:

#The above copyright notice and this permission notice shall be included in all
#copies or substantial portions of the Software.

#THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
#IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
#FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
#AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
#LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
#OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
#SOFTWARE.

#This is a course requirement for CS 192 Software Engineering II under the supervision 
#of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, 
#University of the Philippines, Diliman for the AY 2015-2016.

################################################################################################################# -->

<style type="text/css">
  .item {
    cursor: pointer;
  }

  tr:hover {
          background-color: #08E8DE;
        }

        textarea {
      background: transparent;
      resize: none;
      border: 0 none;
      width: 100%;
      outline: none;
    }

    select {
    border: none;
    background-color: transparent;
}

 a:hover {background-color:transparent;color: maroon}
   
</style>

<div class="ui fluid container" style="padding-top: 3%;padding-bottom: 3%;padding-left: 3%;padding-right: 8%;position: fixed;top: 0;z-index: 10;background-color: white">
    <div class="ui grid">
        <div class="row">
            <div class="ui seven wide column" style="font-size: 30px">
               <a href='/homes'> campus animals </a>
            </div>
            <div class="ui nine wide column" style="text-align: right; font-size: 15px">
                    <a href="/viewprofiles">browse profiles </a> &nbsp;&nbsp;&nbsp;&nbsp;  
                    <a href="#">add/edit profiles </a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/accounts/destroy">logout </a>&nbsp;&nbsp;&nbsp;&nbsp;
                
            </div>
        </div>
    </div>
</div>

<div class="ui fluid container" style="padding-top: 6%;padding-left: 3%;padding-right: 3%">
  <div style="font-size: 30px">
    PROFILES
  </div>
</div>

<div class="ui fluid container" style="padding-top: 1%;padding-left: 3%;padding-right: 3%;font-size: 12px;padding-bottom: 10%">
  <div class="ui grid">
    <div class="row">
      <div class="ui sixteen wide column" id='tablespace'>
        <table class="ui small compact table" id='profilestable'">
            <%= render 'profiles' %>
        </table>
<a name="ROWADD"></a>
      </div>
      <div class="ui five wide column" id="editspace" style="position: fixed; right: 0;display: none;overflow-y: scroll;height: 70%;max-height: 70%;">
        
      </div>
    </div>
  </div>
</div>


<div class="ui fluid container" style="position: fixed; bottom: 0;width: 100%; height: 10%;z-index: 10;padding-left: 3%;padding-right: 8%;background-color: white">
  <div class="ui grid" style="">
    <div class="row" style="padding-top: 2.5%;">
      <div class="ui three wide column" style="">
        <div class="ui horizontal link list">
          <div class="item" style="color: black;">
            <u> switch to view only mode </u>
          </div>
        </div>  
      </div>
      <div class="ui thirteen wide column" style="text-align: right;">
        <div class="ui horizontal link list">
          <div class="add item" style="color: black;">
            <u> <a class='gotoadd' style="color: black;">add a new profile</a> </u>
          </div>
          <div class="item" style="color: black;">
            <u> select all </u>
          </div>
          <div class="item" style="color: black;">
            <u> delete all </u>
          </div>
          <div class="item" style="color: black;">
            <u> save to database </u>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  $("tr").click(function(event) {
    $("tr").css('background-color','white');
    $(this).css('background-color','#08E8DE');
  });

  autosize($('textarea'));

  $(".gotoadd").click(function(event) {
    $(".addprofilerow").css("background-color","yellow");
    location.href="#ROWADD";
  });  

</script>

  <!-- <p id="notice"><%= notice %></p>

  <h1>Animalprofiles</h1>

  <table>
    <thead>
      <tr>
        <th>Animalid</th>
        <th>Profileid</th>
        <th>Name</th>
        <th>Species</th>
        <th>Gender</th>
        <th>Color</th>
        <th>Markings</th>
        <th>Location</th>
        <th>Neutered</th>
        <th>Vaccinated</th>
        <th>Adopted</th>
        <th>Remarks</th>
        <th>Cagelabel</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @animalprofiles.each do |animalprofile| %>
        <tr>
          <td><%= animalprofile.animalID %></td>
          <td><%= animalprofile.profileID %></td>
          <td><%= animalprofile.name %></td>
          <td><%= animalprofile.species %></td>
          <td><%= animalprofile.gender %></td>
          <td><%= animalprofile.color %></td>
          <td><%= animalprofile.markings %></td>
          <td><%= animalprofile.location %></td>
          <td><%= animalprofile.neutered %></td>
          <td><%= animalprofile.vaccinated %></td>
          <td><%= animalprofile.adopted %></td>
          <td><%= animalprofile.remarks %></td>
          <td><%= animalprofile.cagelabel %></td>
          <td><%= link_to 'Show', animalprofile %></td>
          <td><%= link_to 'Edit', edit_animalprofile_path(animalprofile) %></td>
          <td><%= link_to 'Destroy', animalprofile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br> -->


